page-home {


ion-content{   
    background-image: url(https://www.colourbox.com/preview/3823826-big-vector-illustration-of-birthday-cake-with-burning-candles.jpg);
    background-repeat: no-repeat;
    // background-size:cover;
    // display: block;
    //   margin-left: auto;
    // margin-right: auto;
    //   width: 100px;
     background-position: center;
     position: 0%;
     margin: 56;
     background-size: contain;
     padding: 65536;
     
    }
 
    
    #me{
     h1{
         text-align: center;
         color:lightblue;
     }
    }
    #mash{
        h2{
        
           bottom: 0px; 
           color:lightblue;
           text-align: center;
           position: fixed;
           text-align: center;
        }
       }
       ion-title{
        text-align: center;
    }
}





